<div class="container">
  <div class="row">
    <div class="card" style="margin-top: 15%; width: 500px; left: 42%">
      <button
        style="margin: 7%; width: 200px; height: 50px"
        routerLink="/createloan"
      >
        Create new Loan
      </button>
      <button
        style="margin: 7%; width: 200px; height: 50px"
        routerLink="/displayloan"
      >
        Display all Loan
      </button>
      <button
        style="margin: 7%; width: 200px; height: 50px"
        routerLink="/paymentschedule"
      >
        Payment schedule
      </button>
    </div>
  </div>
</div>
